Repository kolyasalubov/ProjectShop, pull requests merged in 2021-11, with the labels that each got.

#216 Hotfix product images and tests
  ProjectShop/ProductApp/templates/ProductApp/homepage.html
  ProjectShop/ProductApp/templates/ProductApp/product_detail.html
  ProjectShop/ProductApp/tests/test_homepage.py
  ProjectShop/UserApp/tests/test_forms.py
Labels: Hotfix

#225 Fix User model in Telegram bot
  TelegramBot/client/models.py
Labels: Hotfix

#218 the WSYWIG editor added
  ProjectShop/ProductApp/admin.py
  ProjectShop/ProductApp/forms.py
  ProjectShop/ProductApp/models.py
  ProjectShop/ProjectShop/settings.py
  ProjectShop/ProjectShop/urls.py
  ProjectShop/requirements.txt
Labels: enhancement, Admin site

#217 Feature#171 telegram persistant development
  TelegramBot/Dockerfile
  TelegramBot/bot_devel.sh
  docker-compose.yaml
Labels: telegram-bot

#233 Feature-#227-Add_wishlist_functionality_ to_the_admin_site.
  ProjectShop/UserApp/admin.py
Labels: Admin site

#232 Feature x231 Create tests for product-detail
  ProjectShop/ProductApp/tests/test_product_detail.py
Labels: Tests, product-detail

#234 Feature x230 tests for category-detail have been added
  ProjectShop/ProductApp/tests/test_category_detail.py
Labels: Tests, categories

#229 Feature x228 implement category detail functionality
  ProjectShop/ProductApp/templates/ProductApp/categories.html
  ProjectShop/ProductApp/templates/ProductApp/category_detail.html
  ProjectShop/ProductApp/templates/ProductApp/homepage.html
  ProjectShop/ProductApp/tests/test_category_detail.py
  ProjectShop/ProductApp/urls.py
  ProjectShop/ProductApp/views.py
Labels: Backend, categories

#219 Feature#69 telegram product manager
  ProjectShop/ProjectShop/router.py
  ProjectShop/ProjectShop/settings.py
  TelegramBot/bot_devel.sh
  TelegramBot/client/client.py
  TelegramBot/client/exceptions.py
  TelegramBot/client/models.py
  TelegramBot/dispatcher.py
  TelegramBot/handlers/dispatcher.py
  TelegramBot/handlers/product_manager.py
  TelegramBot/handlers/user_menu.py
  TelegramBot/handlers/utils.py
  TelegramBot/requirements.txt
  docker-compose.yaml
Labels: telegram-bot

#224 Feature#223 telegram profile manager
  TelegramBot/client/models.py
  TelegramBot/dispatcher.py
  TelegramBot/handlers/profile_manager.py
  TelegramBot/handlers/utils.py
Labels: telegram-bot

#145 Feature#83_Create_tests_for_all_models
  ProjectShop/Shipping/models.py
  ProjectShop/Shipping/tests/__init__.py
  ProjectShop/Shipping/tests/factories.py
  ProjectShop/Shipping/tests/test_models.py
  ProjectShop/order/models.py
  ProjectShop/order/tests/__init__.py
  ProjectShop/order/tests/factories.py
  ProjectShop/order/tests/test_models.py
Labels: Tests
